<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chebnevdev.mobiledevelopmentcourse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileDevelopmentCourse">

        <!-- Setting up TasksMainActivity as the activity that will be shown first - it contains the list of course tasks -->
        <activity android:name=".TasksMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Task#1 activity -->
        <activity
            android:name=".task1.Task1SLActivity"
            android:parentActivityName=".TasksMainActivity" />

        <!-- Task #2 activity-->
        <activity
            android:name=".task2.Task2ButtonActivity"
            android:parentActivityName=".TasksMainActivity" />
    </application>

</manifest>